// main: ../main.scss
/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
  position: relative;

  .copyright {
    padding: 15px 0;

    p {
      margin-bottom: 0;
    }
  }

  .social-links {
    a {
      font-size: 16px;
      display: inline-block;
      background: color-mix(in srgb, var(--default-color), transparent 92%);
      color: var(--accent-color);
      line-height: 1;
      padding: 10px;
      margin-right: 10px;
      border-radius: 50px;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;

      &:hover {
        color: var(--contrast-color);
        background: var(--accent-color);
        text-decoration: none;
      }
    }
  }
}